.form-container-CnC {
    background-color: #ccc7c7;
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    top: 220px;
    left: 2%;
    opacity: 0.9;
    height: 48%;
    width: 30%;
    text-align: center;
  }
  
  .form-CnC {
    display: flex;
    flex-direction: column;
  }
  
  .form-group-CnC {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .label-CnC {
    margin-bottom: 10px;
    
    display: inline-block;
    width: 21%;
  }
  
  .input-CnC {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 70%;
    margin-left: 5px;
  }