.titulo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
    top: 160px;
}

.titulo_centrar {
    text-align: center;
    font-size: 3em;
    padding: 20px;
    width: 50%;
    margin: 0;
    font-weight: bolder;
}